.about_continer{
    background-color: rgb(90, 6, 6);
    height: 200px;
    width: 80%;
    margin-top: 199px;
}
.about_mission{
color: aliceblue;
font-size: 19px;
margin-left: 100px;
padding: 10px;
}
.about_mission, h1{
    color: aliceblue;
}

.about_content{
    background-color: rgb(43, 40, 43);
    height: 400px;
    width: auto;
    margin-top: 200px;
    display: flex;
}

.about_contents{
    color: aliceblue;
    font-size: 20px;
    margin-left: 100px;
    padding: 10px;
    width: 400px;
    }
    /* flatter */

    @media screen {
        
    
.flatter_container{
    height: 50vh;
    width: 100%;
    background-color: rgb(77, 11, 11);
}
    }

