
.full-contact{
height:150vh ;
width: 100%;
display: block;

}
.contact-ft1{
    height: 50%;
    width: 100%;
    background-image: url(../assets/lorry\ hd.jpg);
background-position: center;
background-size: cover;
   
}
.contact-ft2{
    height: 50%;
    width: 100%;
  
background-color: black;
display: flex;
}
.contact-ft2-data1{
    height: 50%;
    width: 50%;
background-color: aquamarine;
display: block;

   

}
.contact-ft2-data2{
    height: 50%;
    width: 50%;
    background-color: blueviolet;
    
   
}
.contact-ft2-data1-k1{
    background-color: brown;
    height: 30%;
    width: 60%;
    margin-left: 10%;
    margin: 2%;
    display: flex;

}


.contact-ft2-data1-k2{
    background-color: rgb(153, 95, 95);
    height: 30%;
    width: 60%;
    margin-left: 10%;
    margin: 2%;
}
.contact-ft2-data1-k3{
    background-color: rgb(8, 8, 8);
    height: 30%;
    width: 60%;
    margin-left: 10%;
    margin: 2%;
}
.contact-ft2-data1-k2-f1{
    height:90%;
    width:20%;
    background-color: blue;
}
.contact-ft2-data1-k2-f2{
    height: 100%;
    width:80%;
    background-color: rgb(114, 18, 39);
}