.login_form{
    width: 40%;
    height: 400px;
    background-color: rgb(41, 39, 41);
    margin-left: 60%;
    margin-top: 30px;
}

.form-container {
	position: absolute;
	transition: all 0.6s ease-in-out;
    margin-left: 50px;
    margin-top: 50px;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: rgb(95, 92, 92);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

/* button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 20px;
} */

/* button:active {
	transform: scale(0.95);
} */

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

label{
    color: aliceblue;
}
.form__title{
    font-size: 20px;
    color: aliceblue;
    margin-top: -20px;
}
.home1{
	background-color:none;
	margin-left: 70%;
	height: 50px;
	width: 300px;
	margin-top: 1%;
}
.home1 a{
    color: aliceblue;
    margin: 4px;
	text-decoration:none;
	font-size: x-large;
	color:aliceblue;

}




