.home12{
	
	height: 60px;
	/* width: 100%; */
	
}
.mymain-nav{
	/* #7A5542,
    #716664
    #6C4236 */
	
	}
	.allfromhome{
		background-color: aqua;
		height: 150vh;
		width: 100%;
	}
	.bg-home1{
		/* background-color: black; */
		background-image: url('../assets/shipment.jpeg') ;
		background-size:cover ;
		height: 60%;
		width: 100%;
		background-position:center;
		box-sizing: border-box;

	}

	.bg-home12{
		
		background-color: rgba(0, 0, 0, 0.616);
		width: 100%;
		height: 100%;
	}
	.mymain-nav{
		height: 90px;
		width: 100%;
		background-color:none;

	}
	.mymain-nav a{
		
		color: black;
		margin-left: 95%;
		
	}
	.mybutton-b1 button{
	background: linear-gradient(
			to right,
			rgb(20, 17, 17),
			
			#cccacb,
			#110603
		  
		
		
		  );
		color: black;
		margin-left: 40%;
		height: 3%;
		width: 9%;
		margin-top: 10%;

	}
	
	.mycargo{
		height:40% ;
		width: 100%;
		background-color: #e3e3ec;
		background-image: url();
	}
	




.home-container-child{

		/* background: rgba(66,190,250); */
		width:100%;
		/* min-height:97vh; */
	
		background-size: cover; 
		background-attachment: fixed; 
		/* height: 12vh; */
		/* margin-bottom: -13vh; */

}
.home-f2{
    width:100%;

background: rgba(0, 0, 0, 0.719);




}

.allslide{
	height: 99%;
	width: 100%;
	background-color: aliceblue;
	display: flex;
}
.myfirst-slide{
	height: 99%;
	width: 50%;
	background-color: black;
}
.mysecond-slide{
	height: 99%;
	width: 50%;
	background-color: rgb(165, 5, 5);
}

