*
{
    padding: 0;
    margin: 0;

}
.header_container{
    height: 90px;
    width: 100%;
    background: linear-gradient(
        to right,
        rgb(20, 17, 17),
        
        #cccacb,
        #110603
    
      ); 
}
.ourmenu1 ul {
    margin-left: 20%;
    display: inline-flex;
color: aliceblue;
    
}
.ourmenu1 ul li {
   


    
margin: 5%;

    
}
.ourmenu1 ul li a :hover{
 color: white;   
text-decoration: none;
 background:#b8b4b3 ;   
}
.active , .ourmenu1 ul li :hover{
    background:#b8b4b3 ;
    border-radius: 2px;
    height: 30px;
    width: 70px;

}
.ourmenu1 .fa{
    margin-right: 8px;

}
.submenu-11{
display: none;
}
 .ourmenu1 ul li :hover .submenu-11 {
     display: block;
     position: absolute;

 }




/* .headerlink{
    padding-top: 10px;
    background-color: blue;
     margin-left: 14%; 
    display: inline;
    width: 20px;
      
    
}
.headerlink{
    padding-top: 10px;
    background-color: none;
}
ul{
  
  margin-left: 15%;
  font-weight: bold;
  color: white;
  font-size: small;
  
}
ul a{
    text-decoration: none;
    
}
.headerlink a{
    text-decoration:none;
    color: aliceblue;
    padding: 15px;
   
} */

