*
{
    padding: 0;
    margin: 0;

}
.header_container{
    height: 20vh;
    width: 100%;
    background: linear-gradient(
        to right,
        #326dec,
        
        #5c6ae4e8,
        #6dd7f1
    
      ); 
      display: flex;
}
.ourmenu1 ul {
    margin-left: 20%;
    /* display: inline-flex; */

    
    
}
.ourmenu1 ul li {
  
margin: 5%; 
}

.menu li a:hover{
    /* background-color: red; */
    color: green;
    font-size: 1.2em;
    text-decoration: underline;
    display: inline-flex;
}
.menu  li a{
    display: inline-flex;

}



.ourmenu1 .fa{
    margin-right: 8px;

}
.submenu-11{
display: none;
}
 .ourmenu1 ul li :hover .submenu-11 {
     display: block;
     position: absolute;
     background-color: #110603;
margin-top: 15px;
margin-left: 15px;
text-decoration: underline;
 }






 .headerlink{

    padding-top: 10px;
    background-color: blue;
     margin-left: 14%; 
    display: inline;
    width: 20px;
      
    
}
.headerlink{
    padding-top: 10px;
    background-color: none;
}
ul{
  
  margin-left: 15%;
  font-weight: bold;
  color: white;
  font-size: small;
  
}
ul a{
    text-decoration: none;
    
}
.headerlink a{
    text-decoration:none;
    color: aliceblue;
    padding: 15px;
   
} 

.logo{
    height: 90%;
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    background-color:none;

}
.home12{
	
	height: 60px;
	/* width: 100%; */
}

/* .mymain-nav{
	 #7A5542,
    #716664
    #6C4236 
	
	} */
	.allfromhome{
		background-color: aqua;
		height: 150vh;
		width: 100%;
	}
	.bg-home1{
		/* background-color: black; */
		background-image: url('../assets/shipment.jpeg') ;
		background-size:cover ;
		height: 60%;
		width: 100%;
		background-position:center;
		box-sizing: border-box;

	}

	.bg-home12{
		
		background-color: rgba(0, 0, 0, 0.616);
		width: 100%;
		height: 100%;
	}
	.mymain-nav{
		height: 90px;
		width: 100%;
		background-color:none;

	}
	.mymain-nav a{
		
		color: black;
		margin-left: 95%;
		
	}
	.mybutton-b1 button{
	background: linear-gradient(
			to right,
			rgb(20, 17, 17),
			
			#cccacb,
			#110603
		  
		
		
		  );
		color: black;
		margin-left: 40%;
		height: 3%;
		width: 9%;
		margin-top: 10%;

	}
	
	.mycargo{
		height:40% ;
		width: 100%;
		background-color: #e3e3ec;
		background-image: url();
	}
	




.home-container-child{

		/* background: rgba(66,190,250); */
		width:100%;
		/* min-height:97vh; */
	
		background-size: cover; 
		background-attachment: fixed; 
		/* height: 12vh; */
		/* margin-bottom: -13vh; */

}
.home-f2{
    width:100%;

background: rgba(0, 0, 0, 0.719);




}

.allslide{
	height: 99%;
	width: 100%;
	background-color: aliceblue;
	display: flex;
}
.myfirst-slide{
	height: 99%;
	width: 50%;
	background-color: black;
}
.mysecond-slide{
	height: 99%;
	width: 50%;
	background-color: rgb(165, 5, 5);
}

