.home-contain{
    background-image: url('../assets/lorry\ hd.jpg') ;
    /* background-size: cover;  */
        height: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    
}


